In [185]:
import pandas as pd
import random
from scipy.stats import pareto
from datetime import datetime, timedelta
import numpy as np
import json
from numpyencoder import NumpyEncoder

# Generacion de las tablas

### Productoras

In [139]:
datos = {
    "IdProductora": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "Nombre": ["Epic Games", "Activision", "Nintendo", "Ubisoft", "Bethesda Softworks", "Sega", "Capcom", "Square Enix", "Valve Corporation", "Bandai Namco Entertainment"]
}

Productora = pd.DataFrame(datos)
Productora

   IdProductora                      Nombre
0             1                  Epic Games
1             2                  Activision
2             3                    Nintendo
3             4                     Ubisoft
4             5          Bethesda Softworks
5             6                        Sega
6             7                      Capcom
7             8                 Square Enix
8             9           Valve Corporation
9            10  Bandai Namco Entertainment

### Sagas

In [140]:
datos = {
    "IdSaga": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
    "IdProductora": [1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 6, 6, 7, 7, 7, 8, 8, 8, 9, 9, 9, 10, 10, 10],
    "Nombre": ["Fortnite", "Gears of War", "Unreal Tournament", "Call of Duty", "Crash Bandicoot", "Spyro the Dragon",
                "Mario", "The Legend of Zelda", "Pok√©mon", "Assassin's Creed", "Far Cry", "Prince of Persia",
                "The Elder Scrolls", "Fallout", "Doom", "Sonic the Hedgehog", "Streets of Rage", "Phantasy Star",
                "Resident Evil", "Street Fighter", "Mega Man", "Final Fantasy", "Kingdom Hearts", "Nier",
                "Left 4 Dead", "Portal", "Half-Life","Dragon Ball", "Soulcalibur", "Digimon Rumble Arena"],
    "Fecha": ["2017-07-25", "2006-11-07", "1999-11-30", "2003-10-29", "1996-09-09", "1998-09-10",
              "1985-09-13", "1986-02-21", "1996-02-27", "2007-11-13", "2004-03-23", "1989-10-03",
              "1994-03-25", "1997-09-30", "1993-12-10", "1991-06-23", "1991-08-02", "1987-12-20",
              "1996-03-22", "1987-08-30", "1987-12-17", "1987-12-18", "2002-03-28", "2010-04-22",
              "2008-11-17", "2007-03-22", "1998-11-19", "1993-01-25", "1998-12-20", "2001-12-06"]
}

Saga = pd.DataFrame(datos)

Saga

    IdSaga  IdProductora                Nombre       Fecha
0        1             1              Fortnite  2017-07-25
1        2             1          Gears of War  2006-11-07
2        3             1     Unreal Tournament  1999-11-30
3        4             2          Call of Duty  2003-10-29
4        5             2       Crash Bandicoot  1996-09-09
5        6             2      Spyro the Dragon  1998-09-10
6        7             3                 Mario  1985-09-13
7        8             3   The Legend of Zelda  1986-02-21
8        9             3               Pok√©mon  1996-02-27
9       10             4      Assassin's Creed  2007-11-13
10      11             4               Far Cry  2004-03-23
11      12             4      Prince of Persia  1989-10-03
12      13             5     The Elder Scrolls  1994-03-25
13      14             5               Fallout  1997-09-30
14      15             5                  Doom  1993-12-10
15      16             6    Sonic the Hedgehog  1991-06-23
16      17             6       Streets of Rage  1991-08-02
17      18             6         Phantasy Star  1987-12-20
18      19             7         Resident Evil  1996-03-22
19      20             7        Street Fighter  1987-08-30
20      21             7              Mega Man  1987-12-17
21      22             8         Final Fantasy  1987-12-18
22      23             8        Kingdom Hearts  2002-03-28
23      24             8                  Nier  2010-04-22
24      25             9           Left 4 Dead  2008-11-17
25      26             9                Portal  2007-03-22
26      27             9             Half-Life  1998-11-19
27      28            10           Dragon Ball  1993-01-25
28      29            10           Soulcalibur  1998-12-20
29      30            10  Digimon Rumble Arena  2001-12-06

### Juegos

In [141]:
datos_juegos = {
    "IdJuego": [1, 2, 3, 4, 5, 6, 7],
    "IdSaga": [1, 2, 2, 2, 2, 3, 3],
    "Titulo": ["Fortnite", "Gears of War 2", "Gears of War 3", "Gears of War 5", "Unreal Tournament 2004", "Unreal Tournament 3", "Unreal Tournament (2019)"],
    "Precio": [0, 29.99, 39.99, 59.99, 19.99, 24.99, 29.99],
    "FechaLanzamiento": ["2017-07-25", "2008-11-07", "2011-09-20", "2019-09-10", "2004-03-16", "2007-11-19", "2019-12-08"],
    "Descripcion": ["¬°Bienvenido a Fortnite, un juego en constante evoluci√≥n de acci√≥n y construcci√≥n de Fortnite!", 
                    "Gears of War 2 es un videojuego de disparos en tercera persona desarrollado por Epic Games.",
                    "Gears of War 3 es un videojuego de disparos en tercera persona desarrollado por Epic Games.",
                    "Gears of War 5 es un videojuego de disparos en tercera persona desarrollado por The Coalition.",
                    "Unreal Tournament 2004 es un videojuego de disparos en primera persona desarrollado por Epic Games.",
                    "Unreal Tournament 3 es un videojuego de disparos en primera persona desarrollado por Epic Games.",
                    "Unreal Tournament (2019) es un videojuego de disparos en primera persona desarrollado por Epic Games."],
    "URLimagen": ["https://example.com/fortnite.jpg", "https://example.com/gearsofwar2.jpg", 
                  "https://example.com/gearsofwar3.jpg", "https://example.com/gearsofwar5.jpg",
                  "https://example.com/unrealtournament2004.jpg", "https://example.com/unrealtournament3.jpg", 
                  "https://example.com/unrealtournament2019.jpg"],
    "Clasificacion": ["E", "M", "M", "M", "M", "M", "M"],
    "Puntuacion": [4.2, 4.5, 4.6, 4.8, 4.3, 4.1, 4.5],
}
Juego = pd.DataFrame(datos_juegos)

In [142]:
datos_juegos = {
    "IdJuego": [8, 9, 10, 11, 12, 13, 14, 15, 16],
    "IdSaga": [4, 4, 4, 5, 5, 5, 6, 6, 6],
    "Titulo": ["Call of Duty", "Call of Duty: Modern Warfare", "Call of Duty: Black Ops", 
               "Crash Bandicoot", "Crash Bandicoot 2: Cortex Strikes Back", "Crash Bandicoot: Warped", 
               "Spyro the Dragon", "Spyro 2: Ripto's Rage!", "Spyro: Year of the Dragon"],
    "Precio": [59.99, 59.99, 59.99, 39.99, 39.99, 39.99, 49.99, 49.99, 49.99],
    "FechaLanzamiento": ["2003-10-29", "2019-10-25", "2010-11-09",
                          "1996-09-09", "1997-10-31", "1998-11-05",
                          "1998-09-10", "1999-11-02", "2000-10-24"],
    "Descripcion": ["Call of Duty es un videojuego de disparos en primera persona desarrollado por Infinity Ward.",
                    "Call of Duty: Modern Warfare es un videojuego de disparos en primera persona desarrollado por Infinity Ward.",
                    "Call of Duty: Black Ops es un videojuego de disparos en primera persona desarrollado por Treyarch.",
                    "Crash Bandicoot es un videojuego de plataformas desarrollado por Naughty Dog.",
                    "Crash Bandicoot 2: Cortex Strikes Back es un videojuego de plataformas desarrollado por Naughty Dog.",
                    "Crash Bandicoot: Warped es un videojuego de plataformas desarrollado por Naughty Dog.",
                    "Spyro the Dragon es un videojuego de plataformas desarrollado por Insomniac Games.",
                    "Spyro 2: Ripto's Rage! es un videojuego de plataformas desarrollado por Insomniac Games.",
                    "Spyro: Year of the Dragon es un videojuego de plataformas desarrollado por Insomniac Games."],
    "URLimagen": ["https://example.com/calofduty.jpg", "https://example.com/calofdutymw.jpg", 
                  "https://example.com/calofdutybo.jpg", "https://example.com/crashbandicoot.jpg", 
                  "https://example.com/crashbandicoot2.jpg", "https://example.com/crashbandicootwarped.jpg",
                  "https://example.com/spyrothedragon.jpg", "https://example.com/spyro2.jpg", 
                  "https://example.com/spyroyearofthedragon.jpg"],
    "Clasificacion": ["M", "M", "M", "E", "E", "E", "E", "E", "E"],
    "Puntuacion": [4.3, 4.7, 4.6, 4.5, 4.6, 4.8, 4.4, 4.5, 4.7],
}

df = pd.DataFrame(datos_juegos)

Juego = pd.concat([Juego, df], ignore_index=True) 
#Juego

In [143]:
datos_juegos = {
    "IdJuego": [17, 18, 19, 20, 21, 22, 23, 24, 25],
    "IdSaga": [7, 7, 7, 8, 8, 8, 9, 9, 9],
    "Titulo": ["Super Mario Bros.", "Super Mario Bros. 3", "Super Mario World", 
               "The Legend of Zelda", "The Legend of Zelda: Ocarina of Time", "The Legend of Zelda: Breath of the Wild", 
               "Pok√©mon Red and Blue", "Pok√©mon Gold and Silver", "Pok√©mon Ruby and Sapphire"],
    "Precio": [49.99, 49.99, 49.99, 59.99, 59.99, 59.99, 39.99, 39.99, 39.99],
    "FechaLanzamiento": ["1985-09-13", "1988-10-23", "1990-11-21",
                          "1986-02-21", "1998-11-21", "2017-03-03",
                          "1996-02-27", "1999-11-21", "2002-11-21"],
    "Descripcion": ["Super Mario Bros. es un videojuego de plataformas desarrollado y publicado por Nintendo.",
                    "Super Mario Bros. 3 es un videojuego de plataformas desarrollado y publicado por Nintendo.",
                    "Super Mario World es un videojuego de plataformas desarrollado y publicado por Nintendo.",
                    "The Legend of Zelda es un videojuego de acci√≥n-aventura desarrollado y publicado por Nintendo.",
                    "The Legend of Zelda: Ocarina of Time es un videojuego de acci√≥n-aventura desarrollado y publicado por Nintendo.",
                    "The Legend of Zelda: Breath of the Wild es un videojuego de acci√≥n-aventura desarrollado y publicado por Nintendo.",
                    "Pok√©mon Red and Blue son videojuegos de rol desarrollados por Game Freak y publicados por Nintendo.",
                    "Pok√©mon Gold and Silver son videojuegos de rol desarrollados por Game Freak y publicados por Nintendo.",
                    "Pok√©mon Ruby and Sapphire son videojuegos de rol desarrollados por Game Freak y publicados por Nintendo."],
    "URLimagen": ["https://example.com/supermariobros.jpg", "https://example.com/supermariobros3.jpg", 
                  "https://example.com/supermarioworld.jpg", "https://example.com/legendofzelda.jpg", 
                  "https://example.com/legendofzeldaocarina.jpg", "https://example.com/legendofzeldabreathofwild.jpg",
                  "https://example.com/pokemonredblue.jpg", "https://example.com/pokemongoldsilver.jpg", 
                  "https://example.com/pokemonrubyshapphire.jpg"],
    "Clasificacion": ["E", "E", "E", "E", "E", "E", "E", "E", "E"],
    "Puntuacion": [4.7, 4.9, 4.8, 4.6, 4.9, 4.9, 4.5, 4.7, 4.8],
}

df = pd.DataFrame(datos_juegos)

Juego = pd.concat([Juego, df], ignore_index=True)

In [144]:
datos_juegos = {
    "IdJuego": [26, 27, 28, 29, 30, 31, 32, 33, 34],
    "IdSaga": [10, 10, 10, 11, 11, 11, 12, 12, 12],
    "Titulo": ["Assassin's Creed", "Assassin's Creed II", "Assassin's Creed: Brotherhood", 
               "Far Cry", "Far Cry 2", "Far Cry 3", 
               "Prince of Persia: The Sands of Time", "Prince of Persia: Warrior Within", "Prince of Persia: The Two Thrones"],
    "Precio": [59.99, 59.99, 59.99, 49.99, 49.99, 49.99, 39.99, 39.99, 39.99],
    "FechaLanzamiento": ["2007-11-13", "2009-11-17", "2010-11-16",
                          "2004-03-23", "2008-10-21", "2012-12-04",
                          "2003-11-06", "2004-12-02", "2005-12-01"],
    "Descripcion": ["Assassin's Creed es un videojuego de acci√≥n-aventura desarrollado por Ubisoft Montreal.",
                    "Assassin's Creed II es un videojuego de acci√≥n-aventura desarrollado por Ubisoft Montreal.",
                    "Assassin's Creed: Brotherhood es un videojuego de acci√≥n-aventura desarrollado por Ubisoft Montreal.",
                    "Far Cry es un videojuego de disparos en primera persona desarrollado por Crytek.",
                    "Far Cry 2 es un videojuego de disparos en primera persona desarrollado por Ubisoft Montreal.",
                    "Far Cry 3 es un videojuego de disparos en primera persona desarrollado por Ubisoft Montreal.",
                    "Prince of Persia: The Sands of Time es un videojuego de acci√≥n-aventura desarrollado por Ubisoft Montreal.",
                    "Prince of Persia: Warrior Within es un videojuego de acci√≥n-aventura desarrollado por Ubisoft Montreal.",
                    "Prince of Persia: The Two Thrones es un videojuego de acci√≥n-aventura desarrollado por Ubisoft Montreal."],
    "URLimagen": ["https://example.com/assassinscreed.jpg", "https://example.com/assassinscreed2.jpg", 
                  "https://example.com/assassinscreedbrotherhood.jpg", "https://example.com/farcry.jpg", 
                  "https://example.com/farcry2.jpg", "https://example.com/farcry3.jpg",
                  "https://example.com/princeofpersiasands.jpg", "https://example.com/princeofpersiawithin.jpg", 
                  "https://example.com/princeofpersiathethronestwo.jpg"],
    "Clasificacion": ["M", "M", "M", "M", "M", "M", "T", "T", "T"],
    "Puntuacion": [4.6, 4.8, 4.7, 4.5, 4.6, 4.8, 4.4, 4.5, 4.7],
}

df = pd.DataFrame(datos_juegos)

Juego = pd.concat([Juego, df], ignore_index=True)

In [145]:
datos_juegos = {
    "IdJuego": [35, 36, 37, 38, 39, 40, 41, 42, 43],
    "IdSaga": [13, 13, 13, 14, 14, 14, 15, 15, 15],
    "Titulo": ["The Elder Scrolls V: Skyrim", "The Elder Scrolls IV: Oblivion", "The Elder Scrolls III: Morrowind", 
               "Fallout 4", "Fallout: New Vegas", "Fallout 3", 
               "Doom", "Doom (2016)", "Doom Eternal"],
    "Precio": [59.99, 59.99, 59.99, 39.99, 39.99, 39.99, 49.99, 59.99, 59.99],
    "FechaLanzamiento": ["2011-11-11", "2006-03-20", "2002-05-01",
                          "2015-11-10", "2010-10-19", "2008-10-28",
                          "1993-12-10", "2016-05-13", "2020-03-20"],
    "Descripcion": ["The Elder Scrolls V: Skyrim es un videojuego de rol desarrollado por Bethesda Game Studios.",
                    "The Elder Scrolls IV: Oblivion es un videojuego de rol desarrollado por Bethesda Game Studios.",
                    "The Elder Scrolls III: Morrowind es un videojuego de rol desarrollado por Bethesda Game Studios.",
                    "Fallout 4 es un videojuego de rol desarrollado por Bethesda Game Studios.",
                    "Fallout: New Vegas es un videojuego de rol desarrollado por Obsidian Entertainment.",
                    "Fallout 3 es un videojuego de rol desarrollado por Bethesda Game Studios.",
                    "Doom es un videojuego de disparos en primera persona desarrollado por id Software.",
                    "Doom (2016) es un videojuego de disparos en primera persona desarrollado por id Software.",
                    "Doom Eternal es un videojuego de disparos en primera persona desarrollado por id Software."],
    "URLimagen": ["https://example.com/skyrim.jpg", "https://example.com/oblivion.jpg", 
                  "https://example.com/morrowind.jpg", "https://example.com/fallout4.jpg", 
                  "https://example.com/falloutnewvegas.jpg", "https://example.com/fallout3.jpg",
                  "https://example.com/doom.jpg", "https://example.com/doom2016.jpg", 
                  "https://example.com/doometernal.jpg"],
    "Clasificacion": ["M", "M", "M", "M", "M", "M", "M", "M", "M"],
    "Puntuacion": [4.8, 4.7, 4.6, 4.5, 4.6, 4.7, 4.4, 4.8, 4.9],
}

df = pd.DataFrame(datos_juegos)

Juego = pd.concat([Juego, df], ignore_index=True)

In [146]:
datos_juegos = {
    "IdJuego": [44, 45, 46, 47, 48, 49, 50, 51, 52],
    "IdSaga": [16, 16, 16, 17, 17, 17, 18, 18, 18],
    "Titulo": ["Sonic the Hedgehog", "Sonic the Hedgehog 2", "Sonic the Hedgehog 3", 
               "Streets of Rage", "Streets of Rage 2", "Streets of Rage 3", 
               "Phantasy Star", "Phantasy Star II", "Phantasy Star IV"],
    "Precio": [49.99, 49.99, 49.99, 39.99, 39.99, 39.99, 29.99, 29.99, 29.99],
    "FechaLanzamiento": ["1991-06-23", "1992-11-21", "1994-02-02",
                          "1991-08-02", "1992-12-20", "1994-03-17",
                          "1987-12-20", "1989-03-21", "1993-04-17"],
    "Descripcion": ["Sonic the Hedgehog es un videojuego de plataformas desarrollado por Sonic Team.",
                    "Sonic the Hedgehog 2 es un videojuego de plataformas desarrollado por Sonic Team.",
                    "Sonic the Hedgehog 3 es un videojuego de plataformas desarrollado por Sonic Team.",
                    "Streets of Rage es un videojuego de beat 'em up desarrollado por Sega.",
                    "Streets of Rage 2 es un videojuego de beat 'em up desarrollado por Sega.",
                    "Streets of Rage 3 es un videojuego de beat 'em up desarrollado por Sega.",
                    "Phantasy Star es un videojuego de rol desarrollado por Sega.",
                    "Phantasy Star II es un videojuego de rol desarrollado por Sega.",
                    "Phantasy Star IV es un videojuego de rol desarrollado por Sega."],
    "URLimagen": ["https://example.com/sonichedgehog.jpg", "https://example.com/sonichedgehog2.jpg", 
                  "https://example.com/sonichedgehog3.jpg", "https://example.com/streetsofrage.jpg", 
                  "https://example.com/streetsofrage2.jpg", "https://example.com/streetsofrage3.jpg",
                  "https://example.com/phantasystar.jpg", "https://example.com/phantasystar2.jpg", 
                  "https://example.com/phantasystar4.jpg"],
    "Clasificacion": ["E", "E", "E", "T", "T", "T", "E", "E", "E"],
    "Puntuacion": [4.5, 4.6, 4.7, 4.4, 4.6, 4.8, 4.3, 4.5, 4.7],
}

df = pd.DataFrame(datos_juegos)

Juego = pd.concat([Juego, df], ignore_index=True)

In [147]:
datos_juegos = {
    "IdJuego": [53, 54, 55, 56, 57, 58, 59, 60, 61],
    "IdSaga": [19, 19, 19, 20, 20, 20, 21, 21, 21],
    "Titulo": ["Resident Evil", "Resident Evil 2", "Resident Evil 3: Nemesis", 
               "Street Fighter II", "Street Fighter Alpha 3", "Street Fighter IV", 
               "Mega Man", "Mega Man 2", "Mega Man X"],
    "Precio": [59.99, 59.99, 59.99, 39.99, 39.99, 39.99, 29.99, 29.99, 29.99],
    "FechaLanzamiento": ["1996-03-22", "1998-01-21", "1999-09-22",
                          "1991-02-06", "1998-12-23", "2008-07-18",
                          "1987-12-17", "1988-12-24", "1993-12-17"],
    "Descripcion": ["Resident Evil es un videojuego de survival horror desarrollado por Capcom.",
                    "Resident Evil 2 es un videojuego de survival horror desarrollado por Capcom.",
                    "Resident Evil 3: Nemesis es un videojuego de survival horror desarrollado por Capcom.",
                    "Street Fighter II es un videojuego de lucha desarrollado por Capcom.",
                    "Street Fighter Alpha 3 es un videojuego de lucha desarrollado por Capcom.",
                    "Street Fighter IV es un videojuego de lucha desarrollado por Capcom.",
                    "Mega Man es un videojuego de plataformas desarrollado por Capcom.",
                    "Mega Man 2 es un videojuego de plataformas desarrollado por Capcom.",
                    "Mega Man X es un videojuego de plataformas desarrollado por Capcom."],
    "URLimagen": ["https://example.com/residentevil.jpg", "https://example.com/residentevil2.jpg", 
                  "https://example.com/residentevil3.jpg", "https://example.com/streetfighterii.jpg", 
                  "https://example.com/streetfighteralpha3.jpg", "https://example.com/streetfighteriv.jpg",
                  "https://example.com/megaman.jpg", "https://example.com/megaman2.jpg", 
                  "https://example.com/megamanx.jpg"],
    "Clasificacion": ["M", "M", "M", "T", "T", "T", "E", "E", "E"],
    "Puntuacion": [4.6, 4.8, 4.7, 4.5, 4.6, 4.7, 4.4, 4.6, 4.8],
}

df = pd.DataFrame(datos_juegos)

Juego = pd.concat([Juego, df], ignore_index=True)

In [148]:
datos_juegos = {
    "IdJuego": [62, 63, 64, 65, 66, 67, 68, 69, 70],
    "IdSaga": [22, 22, 22, 23, 23, 23, 24, 24, 24],
    "Titulo": ["Final Fantasy VII", "Final Fantasy X", "Final Fantasy XV", 
               "Kingdom Hearts", "Kingdom Hearts II", "Kingdom Hearts III", 
               "Nier", "Nier: Automata", "Nier Replicant ver.1.22474487139..."],
    "Precio": [49.99, 49.99, 59.99, 59.99, 59.99, 69.99, 39.99, 59.99, 59.99],
    "FechaLanzamiento": ["1997-01-31", "2001-07-19", "2016-11-29",
                          "2002-03-28", "2005-12-22", "2019-01-29",
                          "2010-04-22", "2017-02-23", "2021-04-22"],
    "Descripcion": ["Final Fantasy VII es un videojuego de rol desarrollado por Square Enix.",
                    "Final Fantasy X es un videojuego de rol desarrollado por Square Enix.",
                    "Final Fantasy XV es un videojuego de rol desarrollado por Square Enix.",
                    "Kingdom Hearts es un videojuego de acci√≥n-aventura desarrollado por Square Enix.",
                    "Kingdom Hearts II es un videojuego de acci√≥n-aventura desarrollado por Square Enix.",
                    "Kingdom Hearts III es un videojuego de acci√≥n-aventura desarrollado por Square Enix.",
                    "Nier es un videojuego de rol desarrollado por Cavia.",
                    "Nier: Automata es un videojuego de rol desarrollado por PlatinumGames.",
                    "Nier Replicant ver.1.22474487139... es un videojuego de rol desarrollado por Toylogic."],
    "URLimagen": ["https://example.com/finalfantasyvii.jpg", "https://example.com/finalfantasyx.jpg", 
                  "https://example.com/finalfantasyxv.jpg", "https://example.com/kingdomhearts.jpg", 
                  "https://example.com/kingdomheartsii.jpg", "https://example.com/kingdomheartsiii.jpg",
                  "https://example.com/nier.jpg", "https://example.com/nierautomata.jpg", 
                  "https://example.com/nierrepli.jpg"],
    "Clasificacion": ["T", "T", "T", "E", "E", "E", "M", "M", "M"],
    "Puntuacion": [4.9, 4.8, 4.7, 4.6, 4.7, 4.9, 4.5, 4.8, 4.8],
}

df = pd.DataFrame(datos_juegos)

Juego = pd.concat([Juego, df], ignore_index=True)

In [149]:
datos_juegos = {
    "IdJuego": [71, 72, 73, 74, 75, 76, 77, 78],
    "IdSaga": [25, 25, 26, 26, 26, 27, 27, 27],
    "Titulo": ["Left 4 Dead", "Left 4 Dead 2", "Portal", "Portal 2", "Portal: Still Alive", 
               "Half-Life", "Half-Life 2", "Half-Life: Alyx"],
    "Precio": [29.99, 39.99, 19.99, 29.99, 19.99, 9.99, 19.99, 39.99],
    "FechaLanzamiento": ["2008-11-17", "2009-11-17", "2007-10-10", "2011-04-18", "2008-10-22",
                         "1998-11-19", "2004-11-16", "2020-03-23"],
    "Descripcion": ["Left 4 Dead es un videojuego de disparos en primera persona desarrollado por Valve Corporation.",
                    "Left 4 Dead 2 es un videojuego de disparos en primera persona desarrollado por Valve Corporation.",
                    "Portal es un videojuego de rompecabezas en primera persona desarrollado por Valve Corporation.",
                    "Portal 2 es un videojuego de rompecabezas en primera persona desarrollado por Valve Corporation.",
                    "Portal: Still Alive es una versi√≥n mejorada del juego Portal desarrollado por Valve Corporation.",
                    "Half-Life es un videojuego de disparos en primera persona desarrollado por Valve Corporation.",
                    "Half-Life 2 es un videojuego de disparos en primera persona desarrollado por Valve Corporation.",
                    "Half-Life: Alyx es un videojuego de realidad virtual desarrollado por Valve Corporation."],
    "URLimagen": ["https://example.com/left4dead.jpg", "https://example.com/left4dead2.jpg", 
                  "https://example.com/portal.jpg", "https://example.com/portal2.jpg", 
                  "https://example.com/portalstillalive.jpg", "https://example.com/halflife.jpg", 
                  "https://example.com/halflife2.jpg", "https://example.com/halflifealyx.jpg"],
    "Clasificacion": ["M", "M", "T", "T", "T", "M", "M", "M"],
    "Puntuacion": [4.7, 4.8, 4.9, 4.9, 4.75, 4.6, 4.8, 4.8],
}

df = pd.DataFrame(datos_juegos)

Juego = pd.concat([Juego, df], ignore_index=True)

In [150]:
datos_juegos = {
    "IdJuego": [79, 80, 81, 82, 83, 84, 85, 86, 87],
    "IdSaga": [28, 28, 28, 29, 29, 29, 30, 30, 30],
    "Titulo": ["Dragon Ball FighterZ", "Dragon Ball Xenoverse", "Dragon Ball Z: Kakarot", 
               "Soulcalibur VI", "Soulcalibur V", "Soulcalibur IV", 
               "Digimon Rumble Arena", "Digimon Rumble Arena 2", "Digimon World: Next Order"],
    "Precio": [59.99, 49.99, 69.99, 59.99, 39.99, 29.99, 19.99, 29.99, 49.99],
    "FechaLanzamiento": ["2018-01-26", "2015-02-24", "2020-01-17",
                          "2018-10-19", "2012-01-31", "2008-07-29",
                          "2001-12-06", "2004-09-23", "2016-03-12"],
    "Descripcion": ["Dragon Ball FighterZ es un videojuego de lucha desarrollado por Arc System Works.",
                    "Dragon Ball Xenoverse es un videojuego de acci√≥n desarrollado por Dimps.",
                    "Dragon Ball Z: Kakarot es un videojuego de rol desarrollado por CyberConnect2.",
                    "Soulcalibur VI es un videojuego de lucha desarrollado por Bandai Namco Entertainment.",
                    "Soulcalibur V es un videojuego de lucha desarrollado por Bandai Namco Entertainment.",
                    "Soulcalibur IV es un videojuego de lucha desarrollado por Bandai Namco Entertainment.",
                    "Digimon Rumble Arena es un videojuego de lucha desarrollado por Bandai Namco Entertainment.",
                    "Digimon Rumble Arena 2 es un videojuego de lucha desarrollado por Bandai Namco Entertainment.",
                    "Digimon World: Next Order es un videojuego de rol desarrollado por Bandai Namco Entertainment."],
    "URLimagen": ["https://example.com/dragonballfighterz.jpg", "https://example.com/dragonballxenoverse.jpg", 
                  "https://example.com/dragonballzkakarot.jpg", "https://example.com/soulcaliburvi.jpg", 
                  "https://example.com/soulcaliburv.jpg", "https://example.com/soulcaliburiv.jpg",
                  "https://example.com/digimonrumblearena.jpg", "https://example.com/digimonrumblearena2.jpg", 
                  "https://example.com/digimonworldnextorder.jpg"],
    "Clasificacion": ["T", "T", "T", "T", "T", "T", "E", "E", "T"],
    "Puntuacion": [4.8, 4.7, 4.6, 4.5, 4.4, 4.3, 4.2, 4.1, 4.5],
}

df = pd.DataFrame(datos_juegos)

Juego = pd.concat([Juego, df], ignore_index=True)

In [151]:
Juego

,IdJuego,IdSaga,Titulo,Precio,FechaLanzamiento,Descripcion,URLimagen,Clasificacion,Puntuacion
0,1,1,Fortnite,0.00,2017-07-25,"¬°Bienvenido a Fortnite, un juego en constante ...",https://example.com/fortnite.jpg,E,4.2
1,2,2,Gears of War 2,29.99,2008-11-07,Gears of War 2 es un videojuego de disparos en...,https://example.com/gearsofwar2.jpg,M,4.5
2,3,2,Gears of War 3,39.99,2011-09-20,Gears of War 3 es un videojuego de disparos en...,https://example.com/gearsofwar3.jpg,M,4.6
3,4,2,Gears of War 5,59.99,2019-09-10,Gears of War 5 es un videojuego de disparos en...,https://example.com/gearsofwar5.jpg,M,4.8
4,5,2,Unreal Tournament 2004,19.99,2004-03-16,Unreal Tournament 2004 es un videojuego de dis...,https://example.com/unrealtournament2004.jpg,M,4.3
...,...,...,...,...,...,...,...,...,...
82,83,29,Soulcalibur V,39.99,2012-01-31,Soulcalibur V es un videojuego de lucha desarr...,https://example.com/soulcaliburv.jpg,T,4.4
83,84,29,Soulcalibur IV,29.99,2008-07-29,Soulcalibur IV es un videojuego de lucha desar...,https://example.com/soulcaliburiv.jpg,T,4.3
84,85,30,Digimon Rumble Arena,19.99,2001-12-06,Digimon Rumble Arena es un videojuego de lucha...,https://example.com/digimonrumblearena.jpg,E,4.2
85,86,30,Digimon Rumble Arena 2,29.99,2004-09-23,Digimon Rumble Arena 2 es un videojuego de luc...,https://example.com/digimonrumblearena2.jpg,E,4.1
86,87,30,Digimon World: Next Order,49.99,2016-03-12,Digimon World: Next Order es un videojuego de ...,https://example.com/digimonworldnextorder.jpg,T,4.5

In [152]:
Juego.sample(10)

,IdJuego,IdSaga,Titulo,Precio,FechaLanzamiento,Descripcion,URLimagen,Clasificacion,Puntuacion
86,87,30,Digimon World: Next Order,49.99,2016-03-12,Digimon World: Next Order es un videojuego de ...,https://example.com/digimonworldnextorder.jpg,T,4.5
21,22,8,The Legend of Zelda: Breath of the Wild,59.99,2017-03-03,The Legend of Zelda: Breath of the Wild es un ...,https://example.com/legendofzeldabreathofwild.jpg,E,4.9
58,59,21,Mega Man,29.99,1987-12-17,Mega Man es un videojuego de plataformas desar...,https://example.com/megaman.jpg,E,4.4
15,16,6,Spyro: Year of the Dragon,49.99,2000-10-24,Spyro: Year of the Dragon es un videojuego de ...,https://example.com/spyroyearofthedragon.jpg,E,4.7
25,26,10,Assassin's Creed,59.99,2007-11-13,Assassin's Creed es un videojuego de acci√≥n-av...,https://example.com/assassinscreed.jpg,M,4.6
56,57,20,Street Fighter Alpha 3,39.99,1998-12-23,Street Fighter Alpha 3 es un videojuego de luc...,https://example.com/streetfighteralpha3.jpg,T,4.6
81,82,29,Soulcalibur VI,59.99,2018-10-19,Soulcalibur VI es un videojuego de lucha desar...,https://example.com/soulcaliburvi.jpg,T,4.5
47,48,17,Streets of Rage 2,39.99,1992-12-20,Streets of Rage 2 es un videojuego de beat 'em...,https://example.com/streetsofrage2.jpg,T,4.6
66,67,23,Kingdom Hearts III,69.99,2019-01-29,Kingdom Hearts III es un videojuego de acci√≥n-...,https://example.com/kingdomheartsiii.jpg,E,4.9
1,2,2,Gears of War 2,29.99,2008-11-07,Gears of War 2 es un videojuego de disparos en...,https://example.com/gearsofwar2.jpg,M,4.5

### Usuarios

In [153]:
nombres = ["Mar√≠a", "Ahmed", "Li Wei", "Aisha", "Juan", "Fatima", "Hiroshi", "Sofia", "Jamal", "Katarina", "Ahmed", "Natalia", "Mohammed", "Emeka", "Isabella", "Amir", "Ekaterina", "Abdul", "Youssef", "Ingrid", "Antonio", "Mei Ling", "Kwame", "Leila", "Tariq", "Lucia", "Sven", "Ayana", "Gisele", "Yasin", "Natalya", "Anwar", "Svetlana", "Kwabena", "Esmeralda", "Yuki", "Malik", "Ebru", "Adjoa", "Jin Soo"]
apellidos = ["Garc√≠a", "Patel", "Ivanov", "Silva", "Al-Mansouri", "Wojciechowski", "Kim", "Singh", "Oliveira", "Nguyen", "P√©rez", "Abadi", "Smith", "Nkosi", "M√ºller", "Santos", "Ahmed", "Papadopoulos", "Dubois", "Rodriguez", "Ali", "Andersson", "Lee", "Fernandez", "Ito", "Kov√°cs", "Brown", "Garc√≠a", "Cohen", "Adichie", "S√°nchez", "O'Reilly", "Kowalski", "G√≥mez", "Lee", "Chen", "Petrov", "Yamamoto", "Gonz√°lez", "Kwiatkowski", "Patel", "L√≥pez", "Zhang", "Costa", "Rossi", "Suleiman", "Mueller", "Khan", "Lewis", "Sokolov", "Abdi", "Fern√°ndez", "Rahman", "Schmidt", "Papadakis", "Bakker", "Alves", "Ono", "Chandra", "Novak"]
ladas = ["+1", "+86", "+7", "+55", "+971", "+48", "+82", "+91", "+81", "+84", "+52", "+27", "+49", "+33", "+61", "+44", "+39", "+966", "+358", "+62"]
terminaciones_correo = ["@gmail.com", "@yahoo.com", "@outlook.com", "@hotmail.com", "@icloud.com", "@aol.com", "@mail.com", "@protonmail.com", "@yandex.com", "@live.com", "@me.com", "@gmx.com", "@zoho.com"]

In [154]:
IdUsuario = []
NombreUsuario = []
SaldoCartera = []
CorreoElectronico = []
NumeroCelular = []

for i in range(1000):
    IdUsuario.append(i)

    nombre = random.choice(nombres)
    if random.random() > 0.45:
        nombre = nombre + " " + random.choice(nombres)

    apellido = random.choice(apellidos)
    if random.random() > 0.25:
        apellido = apellido + " " + random.choice(apellidos)

    NombreUsuario.append(nombre + " " + apellido)


    SaldoCartera.append(pareto.rvs(.32, 200))


    correo = (nombre +"_"+ apellido).replace(" ","_")
    end = random.choice(terminaciones_correo)
    numero = 0
    if correo + end in CorreoElectronico:
        while correo + str(numero) + end in CorreoElectronico:
            numero+=1

    CorreoElectronico.append(correo + str(numero) + end)
 

    numero = ""
    for _ in range(9):
        numero += str(random.randint(0,9))
    lada = random.choice(ladas)

    if lada + numero in NumeroCelular:
        while lada + numero in NumeroCelular:
            numero = ""
            for _ in range(9):
                numero += str(random.randint(0,9))
                lada = random.choice(ladas)

    NumeroCelular.append(lada + numero)


datos = {
    "IdUsuario": IdUsuario,
    "NombreUsuario": NombreUsuario,
    "SaldoCartera": SaldoCartera,
    "CorreoElectronico": CorreoElectronico,
    "NumeroCelular": NumeroCelular
}

Usuario = pd.DataFrame(datos)

In [155]:
Usuario.sample(12)

,IdUsuario,NombreUsuario,SaldoCartera,CorreoElectronico,NumeroCelular
344,344,Ahmed Abdul Schmidt Alves,201.756158,Ahmed_Abdul_Schmidt_Alves0@yahoo.com,+358623654469
626,626,Natalia Esmeralda Chandra Zhang,207.784178,Natalia_Esmeralda_Chandra_Zhang0@outlook.com,+44000450353
401,401,Juan Abdi L√≥pez,205.972552,Juan_Abdi_L√≥pez0@outlook.com,+44172685946
788,788,Adjoa Jamal Ono Rossi,201.228700,Adjoa_Jamal_Ono_Rossi0@yahoo.com,+27995390225
671,671,Kwabena Hiroshi Papadopoulos,202.733477,Kwabena_Hiroshi_Papadopoulos0@icloud.com,+82943240270
96,96,Isabella Malik Ono,211.262002,Isabella_Malik_Ono0@me.com,+81919128560
113,113,Leila Yamamoto,225.006439,Leila_Yamamoto0@icloud.com,+91209046353
539,539,Isabella Natalya Kwiatkowski G√≥mez,6350.282792,Isabella_Natalya_Kwiatkowski_G√≥mez0@outlook.com,+44412584337
594,594,Mar√≠a Ivanov Garc√≠a,274.101563,Mar√≠a_Ivanov_Garc√≠a0@aol.com,+91370552319
498,498,Svetlana Santos,216.992510,Svetlana_Santos0@me.com,+358423320125
787,787,Mei Ling Lucia G√≥mez,204.006821,Mei_Ling_Lucia_G√≥mez0@live.com,+55602587090
717,717,Ahmed Rodriguez Rossi,214.547447,Ahmed_Rodriguez_Rossi0@me.com,+81604049792

### Biblioteca y deseados

In [156]:
def fechaAleatoria(inicio, final):
    if inicio>final:
        inicio, final = final, inicio
    # Calcular el rango de d√≠as entre la fecha de lanzamiento y la fecha actual
    diferencia_dias = final - inicio
    rango_dias = diferencia_dias.days

    # Generar un n√∫mero aleatorio de d√≠as desde la fecha de lanzamiento hasta hoy
    dias_adquisicion = random.randint(0, rango_dias)

    # Sumar el n√∫mero aleatorio de d√≠as a la fecha de lanzamiento para obtener la fecha de adquisici√≥n
    fecha_Aleatoria = inicio + timedelta(days=dias_adquisicion)
    return fecha_Aleatoria

In [157]:
IdJuego1 = []
IdUsuario1 = []
ModoAdquisicion = []
FechaAdquisicion = []
Descuento = []
PrecioCompra = []

IdJuego2 = []
IdUsuario2 = []
FechaAgregado = []

n = Juego.shape[0]
# Obtener la fecha actual
actual = datetime.now()

for i in range(1000):
    comprados = []
    deseados = []
    for j in range(10):
        k = random.randint(0, n-1)
        [desc] = np.random.triangular(left=-.4, mode=.2, right=.8, size=1)
        if desc < 0: desc=0

        # Fecha de lanzamiento del juego en formato "AAAA-MM-DD" (como string) a datetime
        lanzamiento =  datetime.strptime(Juego.iloc[j]["FechaLanzamiento"], "%Y-%m-%d")
        
        if Usuario.iloc[i]["SaldoCartera"] >= Juego.iloc[k]["Precio"]*(1-desc):
            if k not in comprados:
                comprados.append(k)

                Usuario.at[i, "SaldoCartera"] = Usuario.at[i, "SaldoCartera"] - Juego.at[k, "Precio"] * (1 - desc)

                IdJuego1.append(k+1)
                IdUsuario1.append(i+1)
                ModoAdquisicion.append(0)
                FechaAdquisicion.append(fechaAleatoria(lanzamiento, actual).strftime("%Y-%m-%d"))
                Descuento.append(desc)
                PrecioCompra.append(Juego.iloc[k]["Precio"]*(1-desc))
        else:
            if k not in deseados:
                deseados.append(k)

                IdJuego2.append(k+1)
                IdUsuario2.append(i+1)
                FechaAgregado.append(lanzamiento)

datos_biblioteca = {
    "IdJuego": IdJuego1,
    "IdUsuario": IdUsuario1,
    "ModoAdquisicion": ModoAdquisicion,
    "FechaAdquisicion": FechaAdquisicion,
    "Descuento": Descuento,
    "PrecioCompra": PrecioCompra
}

datos_deseados = {
    "IdJuego": IdJuego2,
    "IdUsuario": IdUsuario2,
    "FechaAgregado": FechaAgregado,
}
                        
Biblioteca = pd.DataFrame(datos_biblioteca)
Deseado = pd.DataFrame(datos_deseados)

In [158]:
Biblioteca

,IdJuego,IdUsuario,ModoAdquisicion,FechaAdquisicion,Descuento,PrecioCompra
0,81,1,0,2018-02-16,0.514002,34.014969
1,55,1,0,2010-06-30,0.254507,44.722140
2,41,1,0,2014-02-11,0.000000,49.990000
3,5,1,0,2023-05-28,0.000000,19.990000
4,75,1,0,2018-01-22,0.000000,19.990000
...,...,...,...,...,...,...
6913,23,1000,0,2011-02-13,0.094454,36.212780
6914,62,1000,0,2012-08-02,0.000000,49.990000
6915,33,1000,0,2023-07-07,0.010799,39.558153
6916,75,1000,0,2011-12-02,0.000000,19.990000
6917,5,1000,0,2014-11-19,0.373241,12.528904

In [159]:
Biblioteca.sample(10)

,IdJuego,IdUsuario,ModoAdquisicion,FechaAdquisicion,Descuento,PrecioCompra
5409,76,782,0,2021-05-30,0.048644,9.504041
1330,48,194,0,2021-05-10,0.412406,23.497885
2375,48,344,0,2022-09-30,0.102105,35.906824
2793,5,406,0,2021-07-03,0.446882,11.056837
5857,75,849,0,2017-11-18,0.151050,16.970520
1329,33,194,0,2009-04-18,0.558629,17.650410
2146,16,311,0,2022-06-26,0.593501,20.320893
1170,57,171,0,2012-08-22,0.165118,33.386927
921,61,135,0,2012-08-18,0.508917,14.727573
5271,42,761,0,2024-01-04,0.265102,44.086529

In [160]:
Deseado

      IdJuego  IdUsuario FechaAgregado
0           4          1    2019-12-08
1          66          1    2003-10-29
2          82          1    2019-10-25
3          47          1    2010-11-09
4          50          2    2019-12-08
...       ...        ...           ...
2750       44        999    2019-10-25
2751        6        999    2010-11-09
2752       68       1000    2019-12-08
2753       71       1000    2003-10-29
2754        2       1000    2019-10-25

[2755 rows x 3 columns]

In [161]:
Deseado.sample(10)

      IdJuego  IdUsuario FechaAgregado
2090        6        765    2003-10-29
238        86         81    2010-11-09
516        15        181    2010-11-09
1901       11        693    2019-10-25
228        50         79    2019-12-08
577        71        208    2019-10-25
711        43        252    2019-10-25
1108       38        399    2010-11-09
1882       20        685    2019-10-25
752        58        269    2010-11-09

### Avatar

In [162]:
IdJuego = []
IdUsuario = []
Nombre = []

n = Biblioteca.shape[0]

for i in range(n):
    iJ = Biblioteca.iloc[i]["IdJuego"]
    iU = Biblioteca.iloc[i]["IdUsuario"]
    nombre = Usuario.iloc[iU-1]["NombreUsuario"]

    IdJuego.append(iJ)
    IdUsuario.append(iU)
    Nombre.append(nombre+str((i%23)+1))

datos_avatar = {
    "IdJuego": IdJuego,
    "IdUsuario": IdUsuario,
    "Nombre": Nombre
}

Avatar = pd.DataFrame(datos_avatar)
Avatar

      IdJuego  IdUsuario                  Nombre
0          81          1   Malik Yasin Suleiman1
1          55          1   Malik Yasin Suleiman2
2          41          1   Malik Yasin Suleiman3
3           5          1   Malik Yasin Suleiman4
4          75          1   Malik Yasin Suleiman5
...       ...        ...                     ...
6913       23       1000  Youssef Kov√°cs Brown14
6914       62       1000  Youssef Kov√°cs Brown15
6915       33       1000  Youssef Kov√°cs Brown16
6916       75       1000  Youssef Kov√°cs Brown17
6917        5       1000  Youssef Kov√°cs Brown18

[6918 rows x 3 columns]

In [163]:
Avatar.sample

<bound method NDFrame.sample of       IdJuego  IdUsuario                  Nombre
0          81          1   Malik Yasin Suleiman1
1          55          1   Malik Yasin Suleiman2
2          41          1   Malik Yasin Suleiman3
3           5          1   Malik Yasin Suleiman4
4          75          1   Malik Yasin Suleiman5
...       ...        ...                     ...
6913       23       1000  Youssef Kov√°cs Brown14
6914       62       1000  Youssef Kov√°cs Brown15
6915       33       1000  Youssef Kov√°cs Brown16
6916       75       1000  Youssef Kov√°cs Brown17
6917        5       1000  Youssef Kov√°cs Brown18

[6918 rows x 3 columns]>

### Partidas

In [164]:
IdJuego = []
IdUsuario = []
FechaInicio = []
FechaFin = []
TipoPartida = []


n = Avatar.shape[0]
actual = datetime.now()
for i in range(n):
    iJ = Biblioteca.iloc[i]["IdJuego"]
    iU = Biblioteca.iloc[i]["IdUsuario"]

    # Fecha de lanzamiento del juego en formato "AAAA-MM-DD" (como string) a datetime
    lanzamiento =  datetime.strptime(Juego.iloc[iJ-1]["FechaLanzamiento"], "%Y-%m-%d")

    m = random.randint(0, 60)
    for j in range(m):
        diaJuego = fechaAleatoria(lanzamiento, actual)
        hora = random.randint(0, 23)
        minuto = random.randint(0, 59)
        segundo = random.randint(0, 59)
        # Asignar la hora, minutos y segundos aleatorios a la fecha de adquisici√≥n
        fecha_juego = diaJuego.replace(hour=hora, minute=minuto, second=segundo)

        decisor = random.random()
        if decisor < 0.2:
            sJugados = random.randint(0, 1200)
        elif decisor < 0.99:
            [sJugados] = np.random.poisson(3000, 1)
        else:
            sJugados = pareto.rvs(.35, 4800)

        juego_final = fecha_juego + timedelta(seconds=int(sJugados))

        fecha_juego = fecha_juego.strftime("%Y-%m-%d %H:%M:%S")
        juego_final = juego_final.strftime("%Y-%m-%d %H:%M:%S")

        IdJuego.append(iJ)
        IdUsuario.append(iU)
        FechaInicio.append(fecha_juego)
        FechaFin.append(juego_final)
        TipoPartida.append(0)
    


datos_partidas = {
    "IdJuego": IdJuego,
    "IdUsuario": IdUsuario,
    "FechaInicio": FechaInicio,
    "FechaFin": FechaFin,
    "TipoPartida": TipoPartida
}

Partida = pd.DataFrame(datos_partidas)
Partida

,IdJuego,IdUsuario,FechaInicio,FechaFin,TipoPartida
0,81,1,2023-06-27 03:53:07,2023-06-27 04:42:08,0
1,81,1,2024-02-23 14:08:20,2024-02-23 14:12:40,0
2,81,1,2023-08-30 00:53:13,2023-08-30 01:41:50,0
3,81,1,2020-04-14 05:23:30,2020-04-14 06:12:45,0
4,81,1,2022-06-22 13:19:01,2022-06-22 14:08:49,0
...,...,...,...,...,...
205963,5,1000,2010-09-17 18:24:42,2010-09-17 18:28:30,0
205964,5,1000,2007-05-24 08:40:04,2007-05-24 09:29:45,0
205965,5,1000,2014-07-27 07:35:09,2014-07-27 07:42:45,0
205966,5,1000,2013-03-31 10:29:16,2013-03-31 11:18:45,0
205967,5,1000,2010-01-26 12:27:21,2010-01-26 13:17:31,0

In [165]:
Partida.sample(10)

,IdJuego,IdUsuario,FechaInicio,FechaFin,TipoPartida
30711,73,150,2012-07-27 17:09:54,2012-07-27 17:59:12,0
201837,60,979,2005-04-07 18:33:17,2005-04-07 19:24:49,0
86446,27,422,2020-10-23 08:27:49,2020-10-23 09:17:44,0
57480,39,282,2016-07-10 14:25:29,2016-07-10 15:45:31,0
197114,1,958,2024-01-30 12:58:17,2024-01-30 14:18:58,0
28613,14,140,2018-12-14 09:00:51,2018-12-14 09:49:36,0
3241,59,16,1997-03-01 05:41:32,1997-03-01 06:32:07,0
158506,10,765,2022-09-13 23:31:20,2022-09-14 00:21:42,0
85141,18,417,1989-08-21 19:12:12,1989-08-21 19:27:07,0
102764,60,503,2020-12-23 07:04:35,2020-12-23 07:54:09,0

# Generacion de los jsons

In [166]:
dfs = [
    Avatar,
    Partida,
    Deseado,
    Biblioteca,
    Usuario,
    Productora,
    Saga,
    Juego]

In [167]:
Partida

,IdJuego,IdUsuario,FechaInicio,FechaFin,TipoPartida
0,81,1,2023-06-27 03:53:07,2023-06-27 04:42:08,0
1,81,1,2024-02-23 14:08:20,2024-02-23 14:12:40,0
2,81,1,2023-08-30 00:53:13,2023-08-30 01:41:50,0
3,81,1,2020-04-14 05:23:30,2020-04-14 06:12:45,0
4,81,1,2022-06-22 13:19:01,2022-06-22 14:08:49,0
...,...,...,...,...,...
205963,5,1000,2010-09-17 18:24:42,2010-09-17 18:28:30,0
205964,5,1000,2007-05-24 08:40:04,2007-05-24 09:29:45,0
205965,5,1000,2014-07-27 07:35:09,2014-07-27 07:42:45,0
205966,5,1000,2013-03-31 10:29:16,2013-03-31 11:18:45,0
205967,5,1000,2010-01-26 12:27:21,2010-01-26 13:17:31,0

In [175]:
# convert date columns to unix timestamps
date_columns = ['FechaInicio', 'FechaFin']

for df in [Partida]:
    for col in date_columns:
        df[col] = pd.to_datetime(df[col]).astype(int) // 10**9  # convert to unix timestamp in seconds

# create nested json structure
productoras = []

for productora_id, productora_group in Productora.groupby('IdProductora'):
    productora_data = {
        'nombre': productora_group['Nombre'].iloc[0],
        'sagas': []
    }
    
    for saga_id, saga_group in Saga[Saga['IdProductora'] == productora_id].groupby('IdSaga'):
        saga_data = {
            'nombre': saga_group['Nombre'].iloc[0],
            'juegos': []
        }
        
        for juego_id, juego_group in Juego[Juego['IdSaga'] == saga_id].groupby('IdJuego'):
            juego_data = {
                'titulo': juego_group['Titulo'].iloc[0],
                'partidas': []
            }
            
            for _,partida_group in Partida[Partida['IdJuego'] == juego_id].groupby('IdJuego'):
                partida_data = {
                    'fechaini': partida_group['FechaInicio'].iloc[0],
                    'fechafin': partida_group['FechaFin'].iloc[0],
                    'duracion': partida_group['FechaFin'].iloc[0] - partida_group['FechaInicio'].iloc[0],
                    'usuario': {
                        'avatar': {
                            'nombre': Avatar[Avatar['IdUsuario'] == partida_group['IdUsuario'].iloc[0]]['Nombre'].iloc[0]
                        }
                    }
                }
                juego_data['partidas'].append(partida_data)
            
            saga_data['juegos'].append(juego_data)
        
        productora_data['sagas'].append(saga_data)
    
    productoras.append(productora_data)

# convert to json
json_data = {'productoras': productoras}

In [193]:
with open('./jsosns.json', 'w+') as file:
    a = json.dump(json_data, fp = file,
              separators=(', ', ': '), ensure_ascii=False,
              cls=NumpyEncoder)